<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-end">
            ترانيم
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-end">بحث</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-searchbar class="ion-no-padding" showCancelButton="focus"></ion-searchbar>

                    </ion-card-content>
                </ion-card>



            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>